.vg-t {
    font-size: 12px;
    font-family: Tahoma;
    // any remaining table styles to go here

    .vg-r {
        // row styles to go here
    }

    .vg-c {
        min-width: 42px;
        width: 42px;
        min-height: 23px;
        height: 23px;
        padding: 2px;
        // any remaining cell styles to go here
    }

    .vg-f {
        // fixed-cell styles to go here
    }
}
